{
  "experimentalTernaries": true,
  "trailingComma": "es5",
  "printWidth": 40,
  "tabWidth": 2,
  "tabs": true,
  "quotes": true,
  "semi": false,
  "singleQuote": true,
  "bracketSameLine": true,
   "plugins": ["prettier-plugin-tailwindcss"]
}